.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  height: 20vh;
  width: 40vw;
  flex-wrap: wrap;
  gap: 10px;

  & > div {
    flex: 1 0 40%;
  }

  & > div:first-child {
    flex: 0 1 100%;
  }
}

.subtext {
  font-size: 40px;
}

.view-icon {
  color: var(--primary-red);
  position: absolute;
  left: 5px;
  top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & p {
    margin: 3px 0 -25px 0;
  }
}
