.exact-thought-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exact-thought-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 60%;
  & .settings {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  & .insight {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.thought-header {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
