.viewall-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  & main {
    margin-top: 5px;
    padding: 20px;
    padding-left: 45px;
    width: 80%;
    height: 70vh;
    background-color: var(--secondary-black);
    -webkit-box-shadow: 0 0 20px 0 rgba(219, 58, 52, 0.75);
    -moz-box-shadow: 0 0 20px 0 rgba(219, 58, 52, 0.75);
    box-shadow: 0 0 20px 0 rgba(219, 58, 52, 0.75);
    overflow-y: auto;
    display: grid;
    grid-template-columns: 180px repeat(auto-fill, 180px) 160px;
    gap: 4px;
    justify-content: flex-start;
  }
}

.create-icon {
  color: var(--primary-red);
  position: absolute;
  right: 5px;
  top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & p {
    margin: 3px 0 -25px 0;
  }
}
