:root {
  --primary-red: #db3a34;
  --secondary-black: #191819;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #323031;
  color: #fff;
  font-family: "Kurale", serif;

  & main {
    height: 100%;
  }
}

#application {
  height: 100%;
}

article {
  height: 100%;
  width: 100%;
}

header {
  color: var(--primary-red);
}

a:link,
a:visited {
  all: unset;
}
